# 1. Introduction

Model Inference Mileston 2

Nama : Stephanus

Batch : SBY - 001

# 2. Import Libraries

In [1]:
import pickle
import json
import pandas as pd
import numpy as np

# 3. Load Files

In [2]:
with open('model.pkl', 'rb') as file_1:
     model = pickle.load(file_1) 

with open('model_scaler.pkl', 'rb') as file_2: 
     model_scaler = pickle.load(file_2) 

with open('model_encoder_ordinal.pkl', 'rb') as file_3: 
     model_encoder_ordinal = pickle.load(file_3) 

with open('model_encoder_nominal.pkl', 'rb') as file_4: 
     model_encoder_nominal = pickle.load(file_4)

with open('list_num_col.txt', 'rb') as file_5:
     list_num_col = pickle.load(file_5) 

with open('list_cat_cols_n.txt', 'rb') as file_6:
     list_cat_cols_n = pickle.load(file_6)

with open('list_cat_cols_o.txt', 'rb') as file_7:
     list_cat_cols_o = pickle.load(file_7)

with open('list_cat_col.txt', 'rb') as file_8:
     list_cat_col = pickle.load(file_8)

# 4. Create Data

In [3]:
data_inf = {'Education': {1847: 1, 2905: 1, 4610: 1, 2228: 1, 5: 1},
 'JoiningYear': {1847: 2016, 2905: 2012, 4610: 2015, 2228: 2012, 5: 2016},
 'PaymentTier': {1847: 3, 2905: 3, 4610: 3, 2228: 3, 5: 3},
 'Age': {1847: 26, 2905: 26, 4610: 24, 2228: 28, 5: 22},
 'EverBenched': {1847: 'Yes', 2905: 'No', 4610: 'No', 2228: 'No', 5: 'No'},
 'ExperienceInCurrentDomain': {1847: 4, 2905: 4, 4610: 2, 2228: 1, 5: 0}}

In [4]:
data_inf = pd.DataFrame(data_inf)
data_inf

,Education,JoiningYear,PaymentTier,Age,EverBenched,ExperienceInCurrentDomain
1847,1,2016,3,26,Yes,4
2905,1,2012,3,26,No,4
4610,1,2015,3,24,No,2
2228,1,2012,3,28,No,1
5,1,2016,3,22,No,0

In [5]:
data_inf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5 entries, 1847 to 5
Data columns (total 6 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Education                  5 non-null      int64
 1   JoiningYear                5 non-null      int64
 2   PaymentTier                5 non-null      int64
 3   Age                        5 non-null      int64
 4   EverBenched                5 non-null      object
 5   ExperienceInCurrentDomain  5 non-null      int64
dtypes: int64(5), object(1)
memory usage: 280.0+ bytes

# 5.Inferencing

In [6]:
y_predict_inf = model.predict(data_inf)# predict result

In [7]:
#add result to data frame
data_inf['New_Predict'] = y_predict_inf
data_inf

,Education,JoiningYear,PaymentTier,Age,EverBenched,ExperienceInCurrentDomain,New_Predict
1847,1,2016,3,26,Yes,4,0
2905,1,2012,3,26,No,4,0
4610,1,2015,3,24,No,2,0
2228,1,2012,3,28,No,1,0
5,1,2016,3,22,No,0,0